<div class="theCover uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('images/BackgroundProfile.jpeg');">
    <div class="center">
      <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">Welcome to <span>RECIPES<span class = "title2">4</span>YOU</span> {{user.username}}!</h1>
      <a href="/">Start browsing for recipes!</a>
    </div>
</div>
