<div class="signup">
<div class= "signup-cont">
  <h2><i class="fas fa-user-plus"></i>Signup</h2>
<a href="/auth/google" id="google-login">Sign up with Google <i class="fab fa-google"></i> </a>
  <hr class="uk-divider-icon" />
  <form action="/signup" method="POST">
    <input 
    type="username"
     name="username" 
     placeholder="username"/>
    <input 
    type="email"
    name="email"
    placeholder="Email" />

    <div  >
         <input
     type="password" 
     name="password" 
     placeholder="Password" 
     id="pass" >
      <button
     type="button"  
    class="eye" 
    onclick="showpass()"><i class="far fa-eye"></i></button>
    </div> 
    <p class="strength " id ="length" onchange="strengthBar()"></p>
    <input 
    id="submit"
    type="submit"
    value="Register">
</form>
{{#if message }}
      <div class=" uk-alert-danger" >{{ message }}</div>
    {{/if}}
  <p>Do you already have an account?<a href="/signup">Log in</a></p>
</div>
</div>



<script>

 pass.addEventListener('keyup', e =>{
  strengthBar()
})

function strengthBar(){
let passValue = document.getElementById('pass').value
let status = document.getElementById('length')
let counter= 0

if(passValue!=""){
if(passValue.length <= 2)
counter=1
if(passValue.length > 4 &&  passValue.length <= 8)
counter=2
if(passValue.length > 8 &&  passValue.length <= 12)
counter=3

if(counter ==1){
  status.innerHTML ="Weak";
  status.style.background="#fa6775"
  status.style.color ="#ffffff"
}

if(counter ==2){
  status.innerHTML ="Good";
  status.style.background="#FFE437"
  status.style.color ="#ffffff"
}

if(counter ==3){
  status.innerHTML ="Excellent";
  status.style.background="#89da59"
  status.style.color ="#ffffff"
}}
}

</script>