// font-family: 'Rubik Mono One', sans-serif;

* {
  margin:0;
  padding: 0; 
}

body {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(241, 240, 240);
}

a {
  color: rgb(0, 204, 255);
}

.uk-flex {
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 105px;
  justify-content: space-around;
}

.uk-navbar-container {
  width: 100vw;
  position: fixed;
  z-index: 1;
  box-shadow: 3px 3px 3px rgba(121, 120, 120, 0.103);
}

.uk-navbar-nav{
  justify-content: flex-end;
}

.uk-navbar-center{
  display: flex;
  justify-content: space-around;
}

.title a{
  font-family: 'Marcellus SC', serif;
  color: black;
  text-decoration: none;
}

.title2{
  font-size: 50px;
}

.recipe {
  width: 15%;
  height: 9%;
  text-align: center;
  background: whitesmoke;
  // margin: 10px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px rgba(121, 120, 120, 0.103);
}

.recipe img {
  border-radius: 15px;
  width: 90%;
  margin:  2px 5px;
  padding: 5px;
}

.recipe p {
  font-weight: bold;
  margin: 5px;
  color: rgb(75, 74, 74);
  padding:  5px 10px;
}

.recipe:hover > .like {
  cursor: pointer;
  display: block;
}

.recipe:hover {
  text-decoration: underline;
  cursor: pointer
}

.like {
  border-radius: 3px;
  font-size: 12px;
  padding: 5px 10px;
  color: rgb(75, 74, 74);
  border: none;
  box-shadow: 1px 1px rgba(121, 120, 120, 0.103);
  position: absolute;
  margin: 10px 15px;
  display: none;
  outline: none;
}

.like:hover {
  border: 2px solid rgba(121, 120, 120, 0.1);
}

.selected {
  background: rgb(212, 70, 70);
  border: 1px solid rgb(175, 56, 56);
  color: whitesmoke;
}

.padding {
  padding-top: 105px; 
}

.recipe-image {
  width: 300px;
  height: 300px;
}

.recipe-image1 {
  border-radius: 20px;
}

.titleAndButtons > h3, .titleAndButtons > h3 > input {
  font-family: 'Marcellus SC', serif;
}

.titleAndButtons > h3 > input {
  width: 500px;
  height: 30px;
  font-size: 20px;
}

.uk-card-media-left {
  width: 45%;
}

.adminButtons {
  display: flex;
  justify-content: left;
  margin-left: 10px;
  padding: 0;
}

.uk-icon-button {
  margin: 0 5px;
}

.cardText {
  font-family: 'Literata', serif;
}

.cardTitle {
  font-family: 'Literata', serif;
  font-size: 14px;
}

.uk-label-success {
  background: olivedrab;
}

.uk-label-warning {
  background: rgb(223, 136, 23);
}

.uk-label-default {
  background: rgb(10, 103, 209);
}

.uk-label {
  margin: 5px 2px;
}

.titleAndButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.ingredientsList {
  width: 70%;
}

.servingsInput {
  width: 40px;
}

.ingredientInput {
  width: 350px;
}

.urlInput {
  width: 550px;
}

.saveButton {
  margin-top: 20px;
  margin-left: 40%;
  font-family: 'Marcellus SC', serif;
  border-radius: 15px;
  padding: 5px 20px;
}

.saveButton:hover {
  cursor: pointer;
}

@media(max-width: 768px){
  .uk-flex {
    flex-direction: column;
    width: 100vw;
    padding-top: 250px;
  }

  .recipe img {
    height: 250px;
  }

  .recipe {
    width: 90vw;
    font-size: 18px
  }

  .like {
    font-size: 18px;
  }
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 20%;
}
.eye{
  background: none;
  border: none;
  outline: none;
}

