<header class="title-sched">
<h2>Schedule</h2>
</header>
<div class="schedule">  
<div class="food-day">
  <p></p>
<p>Breakfast</p>
<p>Lunch</p>
<p>Dinner</p>
</div>
   
        <div class="schedule-cont">
        <p>Monday</p>
        <div class="recipe-cont"> </div>
        <div class="recipe-cont"> </div>
        <div class="recipe-cont"> </div>
      </div>
      <div class="schedule-cont">
        <p>Tuesday</p>
        <div class="recipe-cont"> </div>
        <div class="recipe-cont"> </div>
        <div class="recipe-cont"> </div>
      </div>
      <div class="schedule-cont">
        <p>Wednesday</p>
        <div  class="recipe-cont"> </div>
        <div  class="recipe-cont"> </div>
        <div  class="recipe-cont"> </div>
      </div>
      <div class="schedule-cont">
        <p>Thursday</p>
        <div class= "recipe-cont" > </div>
        <div class= "recipe-cont" > </div>
        <div class= "recipe-cont" > </div>
      </div>
      <div class="schedule-cont">
        <p>Friday</p>
        <div class="recipe-cont"> </div>
        <div class="recipe-cont"> </div>
        <div class="recipe-cont"> </div>
      </div>
    
</div>