<div class="signup">
  {{#if err}}
  <h2>{{err}}</h2>
  {{else}}
  <h2>Login</h2>
  {{/if}}
  <form action="/login" method="POST">
    <input type="username" name="username" placeholder="username"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="submit" value="Login">
  </form>
</div>